.jeudupendu {
display: flex;
flex-wrap: wrap;
width: 350px;
margin: auto;
}

.wordToFind {
    letter-spacing: .3rem;
}

.guesses {
    text-align: right;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
}

.keyboard span {
    margin-right: .5em;
}